.App {
  text-align: center;
}

.board-component {
  display: grid;
  grid-auto-rows: minmax(auto, 39px);
  grid-template-columns: repeat(9, 1fr);
  max-width: 360px;
  padding: 12px;
}

.cell {
  border: 1px solid gray;
}

.cell.cell-top {
  border-top: 1px solid black;
  padding-top: 1px;
}
.cell.cell-bottom {
  border-bottom: 1px solid black;
  padding-bottom: 1px;
}
.cell.cell-right {
  border-right: 1px solid black;
  padding-right: 1px;
}
.cell.cell-left {
  border-left: 1px solid black;
  padding-left: 1px;
}

.cell__field-value {
  text-align: center;
  height: 100%;
  font-size: 2rem;
}
