* {
  user-select: none;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
}

/* Game Board Styles */
.board-component {
  display: grid;
  grid-auto-rows: minmax(auto, 39px);
  grid-template-columns: repeat(9, 1fr);
  margin: 0;
  max-width: 360px;
  padding: 12px;
}

/* Cell Styles */
.cell {
  border: 1px solid gray;
}
.cell.cell-top {
  border-top: 1px solid black;
  padding-top: 1px;
}
.cell.cell-bottom {
  border-bottom: 1px solid black;
  padding-bottom: 1px;
}
.cell.cell-right {
  border-right: 1px solid black;
  padding-right: 1px;
}
.cell.cell-left {
  border-left: 1px solid black;
  padding-left: 1px;
}
.cell__field-value {
  font-size: 2rem;
  height: 100%;
  text-align: center;
}
.cell.cell-current {
  background-color: lightgray;
}
.cell.cell-selectable {
  cursor: pointer;
}
.cell.cell-current-number {
  color: blue;
  background-color: cornsilk;
}
.cell.cell-selected {
  color: darkcyan;
  background-color: lightcyan;
}
.cell.cell-error-state {
  background-color: pink;
}

/* Control Panel Styles */
.control-panel {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 45px;
  justify-content: space-evenly;
  max-width: 360px;
  margin: 0;
}
.control-panel__errors {
  color: red;
  font-size: 1.5em;
}
.control-panel__pencil {
  color: gray;
  cursor: pointer;
  font-size: 2em;
}
.control-panel__pencil.edit-mode {
  color: black;
}

/* Number Pad components */
.numpad-component {
  display: grid;
  grid-auto-rows: minmax(auto, 39px);
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  max-width: 360px;
  padding: 12px;
}
.numpad-num {
  align-items: center;
  display: flex;
  font-size: 2em;
  height: 60px;
  justify-content: center;
  text-align: center;
}
.numpad-num:hover {
  background-color: lightgray;
}
.numpad-num.current-num {
  background-color: gray;
  color: white;
}
.numpad-num.numpad-num__complete {
  background: white;
  color: white;
  pointer-events: none;
}
